body{
    background-image:url(../img/contacto.png);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
    
}

header {

	height: 10px;
	color: #CE852A;
	display: flex;
    
    
    align-items: center;
}

#btn-menu{
	display: none;
}


header label {
	font-size: 10px;
	cursor: pointer;
	display: none;
}

.contacto ul{
	background: #CE852A;
	display: flex;
	list-style: none;
}

.contacto ul ul{
	display: none;
}

.contacto a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

.contacto a:hover {

	background: rgba(0,0,0,0.3);
}

.contacto a span{
	margin-left: 10px;
}



.contacto ul li:hover ul {
	display: block;
	position: absolute;
}

@media (max-width: 768px){
	header label {
		display: block;

	}

	.contacto {
		position: absolute;
		top: 500;
		right: 0px;
		width: 100%;
		transform: translateY(50%);
		transition: all 0.3s;
	}

	.contacto ul{
		flex-direction: column;
		background: #555;
	}

	.contacto ul li:hover ul{
		display: none;
        position: static;
	}

	.contacto a span{
		position: absolute;
		right: 5px;

	}

	#btn-menu:checked ~ .contacto{

		transform: translateY(200%);
	}

    
    .contacto ul ul{
        background: rgba(0,0,0,0.4);
    }
    
    
    .contacto ul ul a{
        padding: 15px 40px;
    }
    
    
}